<div class="nav">
  <a href="/">Dawood</a>
  <form action="{% url 'home' %}" method="get">
    <input
      class="nav-search"
      type="text"
      placeholder="Search for rooms..."
      name="q"
    />
  </form>

  {% if request.user.is_authenticated %}
  <div class="nav-login">
    <img src="" alt="" />
    <a href="{% url 'logout' %}">Logout</a>
    <a href="">Edit Profile</a>
  </div>
  {%else%}
  <div class="nav-login">
    <img src="" alt="" />
    <a href="{% url 'login-signup' %}">Login</a>
  </div>
  {%endif%}
</div>
