<!-- {%load static%} -->

<div class="feed-wrp">
  {% for room in rooms %}
  <div class="feed-sub-wrp">
    <div class="feed-info">
      <a href="{% url 'profile' room.host.id %}">@{{room.host.username}}</a>
      {% if request.user == room.host %}
      <div class="feed-config">
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
      </div>
      {%endif%}
    </div>
    <h5>
      <a href="{% url 'room' room.id %}"> {{room.name}} </a>
    </h5>
    <small>{{room.topic.name}}</small>
  </div>
  <hr />
  {%endfor%}
</div>
