{% extends "base.html"%} {% block content %}

<style>
  .room-wrp {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="room-wrp">
  <div class="">
    <h1>{{room.name}}</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nisi
      expedita ratione dolores modi in natus consequatur error illo. Nemo,
      dolores. Eligendi dignissimos cupiditate, corrupti reprehenderit vitae
      rerum totam?
    </p>

    <div class="">
      <h3>Conversations</h3>
      <hr />

      {% for message in room_messages%}
      <div class="">
        <p>{{message.user}} <span></span> {{message.created|timesince}}</p>
        <p>{{message.body}}</p>
        {% if request.user == message.user %}
        <a href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </div>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Type your message..." name="message" />
      <input type="submit" value="Submit" />
    </form>
  </div>
  <div class="">
    <h1>Participants</h1>
    <hr />
    <div class="">
      {% for participant in participants %}
      <div class="">
        <p>@{{participant.username}}</p>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

{% endblock %}
